
<h1> Todo Description</h1>
<div id="<%= dom_id todo %>">
  <h2><%= todo.description %></h2>
  <p><h4>Created at :</h4> <%=todo.created_at %></p>
  </p> <h4>Updated at : </h4><%=todo.updated_at %></p>
</div>